.home {
    width: 100%;
    height: 100vh;
    max-height: 920px;
    padding-top: 50px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    position: relative;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

.wrapTitle {
    justify-self: end;
    width: 500px;
    text-align: center;
    color: var(--color-text-primary);

    h2 {
        font-size: var(--font-size-subtitle);
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        position: unset;
    }
}

.title {
    width: 100%;
    line-height: 1.2em;
    font-family: Cantata One, serif;
    font-size: var(--font-size-title);
}

.title:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-text-primary);
    margin-top: 10px;
}

.chatLink {
    position: relative;
    width: 250px;
    height: 250px;
    grid-row: 2;

    a {
        position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-50%, -50%);
        font-size: var(--font-size-description);
        color: var(--color-text-primary);
        width: fit-content;
        text-align: center;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media screen and (max-width: 768px) {
        grid-row: 3;
    }
}

.animation {
    grid-column: 2/ span 2;
    grid-row: 1/ span 2;

    @media screen and (max-width: 768px) {
        grid-column: 1;
        grid-row: 2;
        width: 100%;

        img {
            width: 100%;
            transform: translateX(30px);
        }
    }
}