.supportYou {
    background-color: var(--color-background);
    width: 100%;
    height: 100vh;
    padding: 10px;


}

.title {
    display: flex;

    h2 {
        flex: 1;
        text-align: center;
        font-size: var(--font-size-title);
        color: var(--color-text-primary);
    }
}

.imgChat {
    display: block;
    background: url('../../assets/Images/btnChat.svg') no-repeat center;
    background-size: cover;
    width: 100px;
    height: 60px;
    margin: 0 10px;
}